#drag, #drag-progress{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.39);
    top: 0;
    display: flex;
    align-items: center;
    display: none;
}

#drag-svg{
    transition: 500ms;
    margin: auto;
    height: 50%;
    width: fit-content;
    margin-top: 2%;
    margin-bottom: 5%;
}

#drag-help{
    width: 40%;
    height: 30%;
    box-shadow: 0px 10px 13px 0px rgba(184, 98, 0, 0.322);
    background: var(--primary-color-gradient);
    border-radius: 20px;
    margin: auto;
    display: flex;
    flex-direction: column; 
    gap: 0;                 
    justify-content: flex-start; 
    align-items: stretch;        
    font-family: "Inter", sans-serif;
}

#drag-help > p{
    width: 100%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    margin-top: 1%;
    margin-bottom: 1%;
    user-select: none;
}

.spinner {
    height: 50%;
      aspect-ratio: 1/1;

  border: 5px solid #ccc;       /* cor de fundo */
  border-top: 5px solid #3498db; /* cor animada */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 20px auto; /* centralizar */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

    /* Container */
    #custom-alert-container {
      position: fixed;
      bottom: 20px;
      right: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      z-index: 9999;
    }

    /* Alerta */
    .custom-alert {
      padding: 12px 20px;
      border-radius: 8px;
      font-size: 14px;
      color: #fff;
      box-shadow: 0 2px 6px rgba(0,0,0,0.2);
      opacity: 1;
      transform: translateX(0);
      transition: all 0.3s ease;
    }

    /* Tipos */
    .custom-alert.success { background: #28a745; }
    .custom-alert.error { background: #dc3545; }
    .custom-alert.info { background: #007bff; }

    /* Saída */
    .custom-alert.hide {
      opacity: 0;
      transform: translateX(100%);
    }

#file{
    display: none;
}